.footer {
    height: 60px;
    background: #FFF9EA;
    padding: 0 16px 0 16px;
    width: calc(100% - 32px);
    color: #06352F;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-weight: 600;
}