.navbar {
    height: 60px;
    background: #06352F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px;

    .navbar-title {
        font-family: 'nunito', 'arial', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: white;
    }
}