.product-card {
    height: 234px;
    width: 224px;
    background-color: #fff9ea;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 16px 50px 16px;

    .card-header {
        h2 {
            margin: 0;
            font-size: 16px;
        }
    
        p {
            margin: 0;
            color: #272727;
            font-size: 14px;
        }
    }

    img {
        width: inherit;
        border-radius: 16px;
    }
}