.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    height: 74vh;

    .login-card {
        width: 350px;
        height: 390px;
        background-color: #FFF9EA;
        border-radius: 16px;
        display: flex;
        padding: 16px;
        flex-direction: column;
        align-items: center;

        .card-header {
            font-size: 22px;
            font-weight: bold;
            color: #06352F;
            margin-bottom: 40px;

            h2 {
                margin: 0;
            }
        }

        .card-body {
            display: flex;
            flex-direction: column;
            width: 240px;

            a {
                color: #06352F;
                font-size: 14px;
                text-align: center;
            }
        }

        .card-footer {
            width: calc(100% + 32px);

            hr {
                height: 1px;
                background-color: #272727;
                border: 0;
                margin: 38px 0 0 0;
            }

            span {
                margin-top: -12px;
                display: flex;
                justify-content: center;

                p {
                    margin: 0;
                    text-align: center;
                    width: 180px;
                    background: #FFF9EA;
                    font-size: 14px;
                }
            }

            .social-button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 12px;

                img {
                    width: 56px;
                    height: 56px;
                    cursor: pointer;
                    margin: 0 16px 0 16px;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}