$colorPink: #FF88B4;

.btn {
    height: 40px;
    border-radius: 36px;
    padding: 0 60px 0 60px;
    border: 1px solid;
    background: transparent;
    font-weight: 600;
    font-family: 'nunito', 'arial', sans-serif;
    font-size: 16px;

    &.primary-outline {
        border-color: $colorPink;
        color: $colorPink;

        &:hover {
            background-color: $colorPink;
            color: white;
            cursor: pointer;
        }
    }

    &.primary-special {
        border-radius: 16px;
        border-color: $colorPink;
        background-color: $colorPink;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        padding: 0 2px 0 18px;
        align-items: center;
        height: 42px;
        margin-top: 50px;
        width: 170px;
        cursor: pointer;

        div {
            margin: 4px 0 0 24px;
        }
    }
}