<div class="home-header">
    <div class="left-content">
        <img src="assets/homeTitle.svg" draggable="false"/>
        <p>O abacate é uma fruta única, enquanto a maioria das frutas consiste principalmente em carboidratos, o abacate é rico em gorduras boas e potássio.</p>
        <CustomButton [title]="'Saiba mais'" [type]="'primary-special'"></CustomButton>
    </div>

    <div>
        <img src="assets/homeAvocadoImg.svg" draggable="false"/>
    </div>
</div>

<div class="grid-products">
    <ProductCard
    [title]="'Maionese de Abacate'"
    [description]="'Maionese vegana feita com o extrato do abacate'"
    [imgPath]="'assets/Maionese Abacate.webp'"
    ></ProductCard>
</div>