.home-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;

    .left-content {

        p {
            color: white;
            max-width: 410px;
        }
    }
}

.grid-products {
    display: flex;
    margin-top: 170px;
    flex-wrap: wrap;
    justify-content: center;
}