/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: nunito;
    src: url(app/assets/fonts/Nunito-VariableFont_wght.ttf) format("opentype");
}

body {
    margin: 0;
    background: url("app/assets/img/backgroundLayer.svg") no-repeat, linear-gradient(180deg, #81CBA7 0%, #1F9188 100%);
    background-size: 100%;
    font-size: 16px;
    font-family: 'nunito', 'arial', sans-serif;
}